@model IEnumerable<WebApplication1.Models.Category>

<h2>Categories</h2>

<a class="btn btn-primary" href="/Categories/Create">Add Category</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-warning" href="/Categories/Edit/@item.Id">Edit</a>
                    <a class="btn btn-danger" href="/Categories/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
